# Ignore generated and bundled outputs
out/
dist/

# TypeScript declaration files and sourcemaps
**/*.d.ts
**/*.js.map

# Test runner artifacts
.vscode-test/

# Ignore compiled test-suite JS
src/test/suite/index.js
src/test/suite/*.js

# Node modules
node_modules/
