.vscode/**
.vscode-test/**
.github/**
.gitignore
.yarnrc
.clavix
.gemini
.eslintignore
AGENTS.md
esbuild.js
binaries/**
src/**
out/**
out/test/**
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
!**/types.d.ts
